{% load static %}
<link rel="stylesheet" href="{% static 'css/carrosel.css' %}">
<div id="body-carrosel"> 
    <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content"> 
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/about-img.png' %}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name-carrosel">Para o corretor</h2>
                            <p class="description-carrosel">Python, Django, HTML, CSS e JS</p>
                            <div>
                                <button class="button-carrosel"><i class="fa fa-eye"></i></button>
                                <button class="button-carrosel"><i class="fa-brands fa-github"></i></button>
                            </div>    
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content"> 
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/about-img.png' %}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name-carrosel">Para o corretor</h2>
                            <p class="description-carrosel">Python, Django, HTML, CSS e JS</p>
                            <div>
                                <button class="button-carrosel"><i class="fa fa-eye"></i></button>
                                <button class="button-carrosel"><i class="fa-brands fa-github"></i></button>
                            </div>    
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content"> 
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/about-img.png' %}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name-carrosel">Para o corretor</h2>
                            <p class="description-carrosel">Python, Django, HTML, CSS e JS</p>
                            <div>
                                <button class="button-carrosel"><i class="fa fa-eye"></i></button>
                                <button class="button-carrosel"><i class="fa-brands fa-github"></i></button>
                            </div>    
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content"> 
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/about-img.png' %}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name-carrosel">Para o corretor</h2>
                            <p class="description-carrosel">Python, Django, HTML, CSS e JS</p>
                            <div>
                                <button class="button-carrosel"><i class="fa fa-eye"></i></button>
                                <button class="button-carrosel"><i class="fa-brands fa-github"></i></button>
                            </div>    
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content"> 
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{% static 'images/about-img.png' %}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name-carrosel">Para o corretor</h2>
                            <p class="description-carrosel">Python, Django, HTML, CSS e JS</p>
                            <div>
                                <button class="button-carrosel"><i class="fa fa-eye"></i></button>
                                <button class="button-carrosel"><i class="fa-brands fa-github"></i></button>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        <div class="swiper-pagination"></div>
     </div>
</div>