{% load static %}
<link rel="stylesheet" href="{% static 'css/carrosel.css' %}">
<div id="body-carrosel"> 
    <div class="slide-container swiper" id="projetos">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    {% for p in projects %}
                    <div class="card swiper-slide">
                        <div class="image-content"> 
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{{ p.image.thumb.url }}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name-carrosel">{{ p.name }}</h2>
                            <p class="description-carrosel">{{ p.language }}</p>
                            
                                <div class="cont-button-project">
                                    <a href="{{ p.deploy }}" class="button-carrosel">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ p.git }}" class="button-carrosel">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                </div>    
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        <div class="swiper-pagination"></div>
     </div>
</div>