{% load static %}

<footer>
  <div class="footerContainer">
      <div class="socialIcons">
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
          <a href=""><i class="fa-brands fa-github"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
      </div>
      <div class="footerNav">
          <ul>
              <li><a href="">Home</a></li>
              <li><a href="">News</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Our Team</a></li>
          </ul>
      </div>
  </div>
  <div class="footerBottom">
      <p>Copyright &copy;2024; por dev. Nycollas <span class="dev">Henich</span></p>
  </div>
</footer>

