{% load static %}

<footer>
  <div class="footerContainer">
      <div class="socialIcons">
          <a href="https://www.linkedin.com/in/nycollas-henich/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.linkedin.com/in/nycollas-henich/"><i class="fa-brands fa-github"></i></a>
          <a href="mailto:nhhenich@gmail.com"><i class="fa fa-envelope"></i></a>
          <a href="https://wa.me/5512991236900"><i class="fa-brands fa-whatsapp"></i></a> 
      </div>
  </div>
  <div class="footerBottom">
      <p>Por dev. Nycollas<span class="dev">Henich</span>2024</p>
  </div>
</footer>

