{% load static %}
<div class="body_bg layout_padding">
  <section class="contact_section" id="contato">
      <div class="container">
        <div class="heading_container">
          <h2 id='contato'>
            Entre em contato!
          </h2>
        </div>
      </div>
      <div class="container contact_bg layout_padding2-top">
        <div class="row">
          <div class="col-md-5">
            <div class="contact_form ">
              <form action="" method="post" autocomplete="on"">
                {{ form }}
                {% csrf_token %}
                <button type="submit">Enviar</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{% static 'images/avatar-iphone-sc.png' %}" alt="" class="imagem-ajustada-sc">
          </div>
        </div>
      </div>
    </section>
</div>  