{% load static %}

<section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 id='sobre-mim'>
                Sobre mim
              </h2>
            </div>
            <br>
            {% block 'sobre-mim-descricao' %}
              <p>
                Olá, eu sou o Nycollas! Atualmente sou estudante de Análise e Desenvolvimento de Sistemas. Iniciei meus estudos na programação em novembro de 2023 e, desde então, não largo mais! Estou seguindo minha jornada como desenvolvedor Backend, 
                com especialidade em <strong>Python, Django e Flask</strong>.
              </p>
            {% endblock 'sobre-mim-descricao' %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="container-box">
            <div class="swiper-box mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          <div>
        </div>
      </div>
  </section>