{% load static %}

<section class="about_section layout_padding" id="sobre-mim">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 id='sobre-mim'>
                Sobre mim
              </h2>
            </div>
            <br>
            {% block 'sobre-mim-descricao' %}
              <p>
                Olá, eu sou o Nycollas! Atualmente sou estudante de Análise e Desenvolvimento de Sistemas. Iniciei meus estudos na programação em novembro de 2023 e, desde então, não largo mais! Estou seguindo minha jornada como desenvolvedor Backend, 
                com especialidade em <strong>Python, Django e Flask</strong>.
              </p>
              <br>
              <p>Aqui estão algumas das minhas principais ferramentas. 
                Elas variam entre Frameworks e banco de dados, com foco principal na linguagem Python.
              </p>
            {% endblock 'sobre-mim-descricao' %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="stack-box">  
            <div class="swiper-box box-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="{% static 'images/python-stack.png' %}" class="img-box-stack" />
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static 'images/django-stack.png' %}" />
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static 'images/flask-stack.png' %}" />
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static 'images/my-sql-stack.png' %}" />
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static 'images/postgre-img.jpeg' %}" />
                  </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>   
          <div>
        </div>
      </div>
  </section>